# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Logs and local DB
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PyInstaller
*.spec
dist/
build/

# Mac/Linux specific
.cache/
